<!-- Version: 1.0 -->
<link rel="stylesheet" href="/static/style.css">
<h1 id="edit-title"></h1>
<form id="edit-form">
    <p><b>Purpose:</b> <span id="purpose"></span></p>
    <h2>Attributes</h2>
    <table id="attributes-table"></table>
    <h2>Relations</h2>
    <table id="relations-table"></table>
    <button type="submit">Save</button>
</form>
<a href="/records/" id="back-link">Back to records</a>
<script src="/static/edit.js"></script>
