{{! filepath: /media/nfs/work/pjl.rs/data-issue-tracker/templates/list.hbs }}
<link rel="stylesheet" href="/static/style.css">
<h1>Entities</h1>
<ul id="entity-list"></ul>
<script src="/static/list.js"></script>
