{{! filepath: /media/nfs/work/pjl.rs/data-issue-tracker/templates/records.hbs }}
<h1 id="entity-title"></h1>
<a id="add-link" href="#">Add new record</a> | <a href="/">Back to list</a>
<table border="0" id="records-table">
  <thead>
    <tr id="table-header"></tr>
  </thead>
  <tbody id="table-body">
  </tbody>
</table>
<script src="/static/records.js"></script>
<link rel="stylesheet" href="/static/style.css">
