<form action="/" method="post">
    <input type="hidden" name="id" value="{{id}}"></input>
    <input type="text" name="title" placeholder="Title"></input>
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Create</button>
</form>